<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.uzh.csg.mbps.client"
    android:versionCode="1"
    android:versionName="v1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <!--
          <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="ch.uzh.csg.mbps.client.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.RegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_registration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.LoginActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.LoginActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main" />
        <activity
            android:name="ch.uzh.csg.mbps.client.HistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_history" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <!-- Navigation Drawer -->
        <activity android:name="ch.uzh.csg.mbps.client.navigation.DrawerItemClickListener" >
        </activity>
        <!-- Profile -->
        <activity
            android:name="ch.uzh.csg.mbps.client.profile.AccountProfileActivity"
            android:label="@string/title_activity_profile_account" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.profile.EditEmailAccountProfileActivity"
            android:label="@string/title_activity_edit_email_account_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.profile.AccountProfileActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.profile.EditPasswordAccountProfileActivity"
            android:label="@string/title_activity_edit_passwotrd_account_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.profile.AccountProfileActivity" />
        </activity>
        <!-- Payment -->
        <activity
            android:name="ch.uzh.csg.mbps.client.payment.PayPaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pay_payment"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.ChoosePaymentActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.payment.ReceivePaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_receive_payment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.payment.PayInActivity"
            android:label="@string/title_activity_pay_in" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.payment.PayOutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pay_out"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.settings.AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.settings.SettingsActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.settings.SettingPayOutRulesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_setting_pay_out_rules" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.settings.SettingsActivity" />
        </activity>

        <!--
        <service
            android:name="ch.uzh.csg.mbps.client.payment.nfc.CustomHostApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE" >
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>
        -->

        <activity
            android:name="ch.uzh.csg.mbps.client.ChoosePaymentActivity"
            android:label="@string/title_activity_choose_payment"
            android:parentActivityName="ch.uzh.csg.mbps.client.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.payment.SendPaymentActivity"
            android:label="@string/title_activity_send_payment"
            android:parentActivityName="ch.uzh.csg.mbps.client.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
        <activity
            android:name="ch.uzh.csg.mbps.client.AddressBookActivity"
            android:label="@string/title_activity_address_book"
            android:parentActivityName="ch.uzh.csg.mbps.client.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.uzh.csg.mbps.client.MainActivity" />
        </activity>
    </application>

</manifest>