<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.uzh.csg.coinblesk.client"
    android:versionCode="2"
    android:versionName="v2.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name=".CoinBleskApplication"
        android:allowBackup="true"
        android:backupAgent=".persistence.CoinBleskCloudData"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIHYaIPvfcNV9O6jA91IszSWW63KdHhty9CN3QLQ" />

        <activity android:name=".ui.main.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ui.history.HistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_history" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <!-- Navigation Drawer -->
        <activity android:name=".ui.navigation.DrawerItemClickListener" />
        <!-- Payment -->
        <activity
            android:name=".ui.payment.ReceivePaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_receive_payment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.payment.PayInActivity"
            android:label="@string/title_activity_pay_in" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.payment.PayOutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pay_out"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.settings.AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.settings.WalletBackupActivity"
            android:label="@string/title_activity_wallet_backup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.SettingsActivity" />
        </activity>

        <service android:name=".wallet.WalletService" />

        <activity
            android:name=".ui.payment.ChoosePaymentActivity"
            android:label="@string/title_activity_choose_payment"
            android:parentActivityName=".ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.payment.SendPaymentActivity"
            android:label="@string/title_activity_send_payment"
            android:parentActivityName=".ui.main.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.adressbook.AddressBookActivity"
            android:label="@string/title_activity_address_book"
            android:parentActivityName=".ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.RestoreOrNewActivity"
            android:label="@string/restoreOrNew_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <receiver
            android:name=".wallet.BlockChainSyncAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name="ch.uzh.csg.nfclib.HostApduServiceNfcLib"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE" >
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
            <meta-data
                android:name="android.nfc.disable_beam_default"
                android:value="true" />
        </service>

        <receiver
            android:name=".payment.PaymentRequestReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".payment.HalfSignedTxReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
